<mat-nav-list>
    <div mat-card class="profile-card">
        <h2>Sudhanshu Paswan</h2>
        <h4>sudhanshu2000@gmail.com</h4>
        <img mat-card-image src="../../../../assets/images/9356copy.jpg" alt="Sudhanshu">
    </div>     
   
    
<mat-divider></mat-divider>
<h2 matSubheader>Pages</h2>
<a mat-list-item routerLinkActive="list-item-active" routerLink='/' >Dashboard</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink='/show'>Show Product</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink='/'></a>
<mat-divider></mat-divider>
<h2  matSubheader>Tools</h2>

<a mat-list-item routerLinkActive="list-item-active" routerLink="">
    <mat-icon>import_contacts</mat-icon>
    Contact
</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="">
    <mat-icon>contact_phone </mat-icon>
    Leads
</a>
</mat-nav-list>
